@import '../breakpoints.scss';

.section {
    .title_1 {}

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


.project-details__desc {
    margin-bottom: 20px;
    font-size: 22px;
}

/* Content List */

.content-list {
    row-gap: 20px;
}

.content-list__item {
    font-size: 16px;
}